.container {
  margin-block: 2rem;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 1.5rem;

  .doctor-panel {
    .about {
      margin-top: 0.5rem;
      white-space: pre-line;

      > p {
        padding: 0.5rem;
        font-weight: 700;
        color: black;
      }
    }
  }

  .visit-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .details {
      border-right: 2px solid var(--color-surface-300);
      margin-block-end: 1rem;
      padding: 0.5rem;
    }
  }
}
