.rating {
  grid-area: rating;
  background-color: var(--color-star);

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;

  padding: 0.25rem 0.75rem;
  border-radius: 999rem;

  
  justify-self: center;   
  align-self: center;    
  width: fit-content;    

  .average-rating {
    font-weight: 700;
  }

  .total-votes {
    font-size: var(--fz-300);
  }
}